
modules = ["python-3.10:v18-20230807-322e88b", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 17925202
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"
